<% @page_title = "航空会社TOP" %>
<h1><%= @page_title %></h1>

<% if @canceled_flights.present? %>
  <table>
    <tr>
      <th>本日の欠航のお知らせ</th>
      <% @canceled_flights.each do |canceled_flight| %>
        <tr>
          <td><%= canceled_flight.name %>：欠航</td>
        </tr>
      <% end %>
    </tr>
  </table>
<% else %>
  <p>本日の欠航はありません。</p>
<% end %>

<% if current_airline %>
  <ul>
    <li><%= link_to "便一覧", :airline_flights %></li>
    <li><%= link_to "新規便の登録", :new_airline_flight %></li>
  </ul>
<% end %>