<% @page_title = "チェックイン" %>
<h1><%= @page_title %></h1>

<h3>出発時刻の20分前までに、QRコードを読み取ってください。</h3>

<%= image_tag "QR_976408.png", size: "200x200", alt: "チェックイン用QRコード" %>

<p><%= link_to "予約状況に戻る", @booking %></p>