<%= image_tag "logo.png", size: "272x48", alt: "Blue Ticket" %>

<nav class="menubar">
  <ul>
    <%= menu_link_to "トップ", :root %>
    <%= menu_link_to "予約確認", "#" %>
    <%= menu_link_to "マイページ", "#" %>
  </ul>
</nav>