<nav class="menubar">
  <ul>
    <%= menu_link_to "ログイン", "#" %>
    <% unless current_admin %>
      <%= menu_link_to "管理者ログイン", :admin_login %>
    <% end %>
    <% unless current_airline %>
      <%= menu_link_to "航空会社ログイン", :airline_login %>
    <% end %>
  </ul>
</nav>